{% extends 'base.html.twig' %}

{% block title %}ORDER NOW!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Payout Success✅</h1>
    {% if status is defined %}
        {{ status }}
    {% endif %}
{#    {{ order }}#}
    <a href="{{ path('app_order') }}">Назад</a>
    <ul>
        <li>Your SALE <code>SALE4</code></li>
        <li>Your GIFT <code>GIFT10</code></li>
    </ul>
</div>
{% endblock %}
